@media(max-width:480px){
    .container_header {
        width:100%;
        margin: 0 auto;

    }
     .container {
        width:100%;
        margin: 0 auto;
    }
    .container_footer {
        width:100%;
    }
    main {
         width:100%;
         margin: 0 auto;
     }
    .table td {
        border: solid 1px #eeeeee;
        text-align: center;
        padding: 10px;
    }
    .table a {
        color: #ffffff;
    }
    .table a:hover{
        text-decoration: underline;
        opacity:0.5;
    }
    .nav_list {
        display: none;
    }
    h1 img {
        width:65%;
    }
    .main_logo{
    font-size:20px;
    letter-spacing: 4px;
    font-weight: 70;
    background-image: url(images/logoitem.png);
    background-repeat: no-repeat;
    background-position: 0px center;
    padding-left: 30px;
    border-bottom: solid 3px #CC9966;
    font-family: Tsukushi A Round Gothic;
    }

    .photo img {
        width: 180px;
        margin: 0 auto;
        text-align: center;
        padding-left: 50px;
   }
    .contents{
        display:block;
        margin: 0 auto;

    }
    .profile {
       background-image: url(images/triangle.png);
       background-repeat: no-repeat;
       background-position: 0px center;
       padding-left: 20px;
       border-bottom: dashed 2px #CC9966;
       width:260px;
       margin:0 auto;
    }
    .maintext{
        font-size: 12px;
        padding: 30px 10px 0px 10px;
        width:260px;
        margin:0 auto;
        text-align: left;
    }
    .about_text{
        font-size: 14px;
        padding-left: 0px;

    }
    .about_text P{
       line-height: 1.8;
    }
    .skill_contents {
         display:block;


    }
    .skill_example {
        margin: 30px;
    }
    .skill_icon_design img{
       width:60px;
       margin: 0px;
    }
    .work_sub {
        display:block;
        margin: 0px;
        justify-content: center;
    }
    .logo_word {
       font-size:12px;
       padding-left: 10px;
}
    .work_box_gourmet {
       width: 250px;
       border: 1px solid #80808052;
       background-color: #eeeeee;
       margin: 10px 10px 20px 10px;
       text-align: center;

    }
    ..work_contents img{
       width: 200px;
       padding-top:10px;
    }
    .work_box {
       width: 250px;
       border: 1px solid #80808052;
       background-color: #eeeeee;
       margin: 10px 10px 10px 10px;
       text-align: center;
    }
    .work_bunner {
       width:80%;
       height:180px;
       border: 1px solid #80808052;
       overflow-y:scroll;
       background-color: #EEEEEE;
       margin: 0 auto;
    }
    .bunner_box img {
       width:75%;
       padding-top:20px;
     }
    .bunner_text p {
       border: 1px solid  #80808052;
       width:75%;
       font-size:12px;
       line-height: 1.8;
       margin:0 auto;
       text-align: left;
}
}
@media(min-width:481px){

    .table{
        display: none;
    }
}
